{% extends 'layout.html' %}

{% block content %}
<div class="container">
   <h1>Register</h1>
   <form method="POST">
       {{ form.hidden_tag() }}
       <div class="mb-3">
           {{ form.username.label(class="form-label") }} {{ form.username(class="form-control", size=32) }}
       </div>
       <div class="mb-3">
           {{ form.password.label(class="form-label") }} {{ form.password(class="form-control", size=32) }}
       </div>
       <div class="mb-3">
           {{ form.confirm_password.label(class="form-label") }} {{ form.confirm_password(class="form-control", size=32) }}
       </div>
       <button type="submit" class="btn btn-primary">{{ form.submit() }}</button>
   </form>
</div>
{% endblock %}
